html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #393d42;
    font-size: 1.6rem;
}

h1 {
    font-size: 3.8rem;
    font-weight: 900
}

h2 {
    font-size: 3.4rem;
    font-weight: 400
}

h3 {
    font-size: 3rem;
    font-weight: 400
}

h4 {
    font-size: 2.6rem;
    font-weight: 400
}

.bigger {
    font-size: 7rem;
}

main {
    font-family: 'Balsamiq Sans', cursive;
    color: #ffffff;
}

.navbar-custom {
    background-color: rgb(57, 61, 66, 0.8);
}

.pad-izquierda {
    padding-left: 20px;
}

.letras-blancas {
    color: white;
}

.letra-naranja {
    color: #faa507;
}

.no-padding {
    padding: 0;
    margin-top: 0;
}

.cabecero-fondo {
    position: relative;
    background-image: url(BAr.webp);
    background-repeat: no-repeat;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.cabecero-fondo::before {
    content: "";
    width: 100%;
    min-height: 80vh;
    position: absolute;
    background: rgb(250, 165, 7, 0.5);
}

.cabecero-letras {
    position: relative;
    padding-top: 20rem;
    z-index: 1;
}

.iconofb {
    font-size: 2.5rem;
    color: orange;
    margin-right: 15px;
}

.letrasNav {
    color: orange;
}


/*
.jumbotron {
    background-image: url(pngtree-polygon-geometric-gradient-orange-gradient-image_16143.jpg);
    height: 350px;
}*/

.iconos-descripcion {
    font-size: 10rem;
    color: orange;
    margin-left: 115px;
    margin-top: 100px;
}


/*
.moto{
    font-size: 100px;
    color: orange;
    margin-left: 175px;
    margin-top: 100px;
}*/

.pie-pagina {
    background-color: orange;
}